.Passport_Back_Body {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  gap: 15px;
  overflow: hidden;
}

.Passport_Back_Footer {
  height: 80px;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
}

.Passport_Back_Footer_Details {
  padding: 0;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Passport_Back_Footer_Details p {
  margin: 0;
  text-align: left;
}

.Passport_Back_Countryflag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
  opacity: 0.2;
}

.Passport_Back_Countryflag img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
  opacity: 0.6;
  filter: blur(0px);
}