.Passport_Back_Body {
  height: 200px;
}

.Passport_Back_Body_Details {
  position: relative;
  top: auto;
  left: auto;
  margin-left: 20px;
  margin-top: 20px;
}

.Passport_Back_Footer {
  height: 80px;
  margin-top: 20px;
  border: 2px solid black;
}

.Passport_Back_Footer_Details {
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}

.Passport_Back_Footer_Details p {
  margin: 0;
  text-align: center;
  font-size: 12px;
}
