.Passport_Preview button {
    all: unset;
    display: contents;
}

.Passport_Preview {
    background-color: white;
    height: 150px
}

.Passport_Preview button:focus,
.Passport_Preview button:active {
    outline: none;
    box-shadow: none;
}

.Selected_Passport {
    box-shadow: 0 0 0 10px rgba(255, 165, 0, 0.6);
    z-index: 1;
}

.Preview_Image_Container {
    height: 150px;
}

.Preview_Image_Container .Image_Wrapper {
    min-width: 0;
    min-height: 0;
    height: 150px;
}

.Preview_Image_Container .Image_Wrapper img {
    position: absolute;
    width: 100px;
    object-fit: fill;
    height: 150px;
}