


.Passport_Container {

  display: flex;
  flex-direction: row;
  width:60vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 25%;
}
.Passport_Wrapper{
  transform: scale(.5);
  transition: all 0.2s ease;
  transition-delay: 0.2s;
  transform-origin: center;
  height: 340px;
}

.Passport_Select_button{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 300px;
  background-color: #ffffff00;
  cursor: pointer;
  z-index: 100;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* .Passport_Wrapper:hover{
  transform: scale(1);
  transition: all 0.2s ease;
  transition-delay: 0.2s;
} */

.Checklist_Button_Container{
  position: absolute;
  bottom: 20px;
  right:50px;
  
}

.Main_Menu-Button {
  position: absolute;
  top: 100px;
  right: 50px;
} 

.SelectPassPort_Container {
  position: absolute;
  transform: translate(-50%);
  bottom: 0px;
}

h1{
  color: #fff;
  position:absolute;
  top: 40px;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
.checklist_Container_Wrapper{
  position: absolute;
  bottom: 20px;
  right:50px;

}

.Main_Menu_Container{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}