.menu-button {
  background-color: #4a6b3d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menu-button:hover {
  background-color: #4a6b2d;
  transition: 0.3s ease-in-out;
}